.main {
  width: 100%;
  height: 80vh;
  background-color:  #fe8514;
  padding: 0;
}

.swiper-slide {
  padding: 5%;
  width: 100%;
  font-size: 18px;
  /* background-color:  #fe8514; */
  /* background-color: background: rgb(253,172,95); */
  background: radial-gradient(circle, rgba(253,172,95,1) 27%, rgba(254,133,20,1) 61%);;
}

.swiper-slide img {
  object-fit: contain;
  margin-right: 5%;
}
.swipper-content div {
  display: flex;
  justify-content: space-between;
  }
  .swipper-content h1 {
    margin: auto;
    font-size: 50px;
  }
.mySwiper img {
  width: 50%;
  height: 70vh;
}


.main__slide h1 {
  width: 40%;
}

/* Стили для контейнера на маленьких экранах */
@media (max-width: 576px) {

}

/* Стили для контейнера на средних экранах */
@media (min-width: 576px) and (max-width: 768px) {

 
}

/* Стили для контейнера на больших экранах */
@media (min-width: 768px) and (max-width: 992px) {
 
  .container main__slide h1 {
    font-size: 25px;
  }
}

/* Стили для контейнера на очень больших экранах */
@media (min-width: 992px) and (max-width: 1200px) {

}

/* Стили для контейнера на экранах с шириной более 1200 пикселей */
@media (min-width: 1200px) {
 
}