
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Стили для контейнера */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Стили для контейнера на маленьких экранах */
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Стили для контейнера на средних экранах */
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Стили для контейнера на больших экранах */
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Стили для контейнера на очень больших экранах */
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Стили для контейнера на экранах с шириной более 1200 пикселей */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}