.container {
  max-width: 1170px;
  margin: auto;
padding: 0 15px;
}
 table {
  margin-top: 3rem;
  margin-bottom: 3rem;
  
}
.table table  {
  width: 100%;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
 td {
  text-align: center;
  padding: 10px;
  width: 400px;
}
.admin-pets-content {
  width: 100%;
  height: fit-content;
}
.create_new {
  width: 30%;
  height: 70px;
  background-color: #f36363;
  margin-bottom: 10px;
  font-size: 30px;
}
 
/* table tr:nth-child(even) {
  background: #e04444;
} */
table tr {
  transition: all .3s;
}
table tr:hover {
  background-color: #ccc;
}
table td:not(:last-child) {
  border-right: 1px solid #ccc;
}
.table_responsive {
  overflow-x: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}  
thead {
  background-color: aqua;
  height: 50px;
}
th {
  font-size: 24px;
}
button {
  text-decoration: none;
}

