.petcatalog_block {
    width: 350px;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1),
        0px 2px 4px rgba(0, 0, 0, 0.1),
        0px 2px 4px rgba(0, 0, 0, 0.1),
        0px 8px 16px rgba(0, 0, 0, 0.1);
}

.petcatalog_line {
    width: 350px;
    height: 0.1px;
    background-color: rgb(210, 195, 202);
    margin-top: 30px;
}

.petcatalog_lin {
    width: 350px;
    height: 0.9px;
    background-color: rgb(210, 195, 202);
}

.petcatalog_img_i {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    object-fit: cover;
}

.petcatalog_name {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.petcatalog_names {
    color: #fe8514;
}

.petcatalog_text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.percatalog_podrobnee {
    padding-top: 10px;
    padding-bottom: 10px;
    color: grey;
}

.percatalog_podrobnee:hover {
    background-color: #fe8514;
    color: #fff;
}

