.nav__links {
  background-color: rgb(255, 179, 0);
  display: none;
}
.nav__links a {
  font-weight: 700;
  margin-left: 20px;
}
.nav__dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #ddd;
  z-index: 10;
  right: 0;
}
.nav__dropdown-parent {
  position: relative;
}
.nav__dropdown-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.nav__dropdown a {
  padding: 20px;
  border: 1px solid black;
}

.nav__burger {
  display: block;
}

@media (min-width: 768px) {
  .nav__burger {
    display: none;
  }
  .nav__links {
    display: block;
  }  
}