.footer_logo {
    color: white;
}
.Footer {
    background-color: #1a1818;
}
.Footer .container {
    display: flex;
justify-content: space-between;
align-items: center;
height: 90px;
}
.friends {
    color: orange;
}
.footer_icons  {
display: flex;
justify-content: center;

}
.email {
    color: white;
}
svg{
    width: 20px;
    height: 20px;
    stroke: white;
    margin: 8px 20px;
}
.footer_email {
    display: flex;
    align-items: center;
}

  
  /* Стили для контейнера на маленьких экранах */
@media (max-width: 576px) {
    .Footer .container *{
        font-size: 10px;
        flex-wrap: wrap;
        }
    .friends {
        text-align: center;
        width: 150px;
    }
    svg{
        width: 15px;
        height: 15px;
        margin: 8px 10px;
    }
  }
  
  /* Стили для контейнера на средних экранах */
  @media (min-width: 576px) and (max-width: 768px) {
    .Footer .container *{
    font-size: 14px;
    }
    .friends {
        text-align: center;
    }
  }
  
  /* Стили для контейнера на больших экранах */
  @media (min-width: 768px) and (max-width: 992px) {
    .Footer .container *{
      max-width: 960px;
      font-size: 14px;
    }
    .friends {
        text-align: center;
    }
    svg{
        width: 15px;
        height: 15px;
        margin: 8px 20px;
    }
  }