.footer_logo {
    color: white;
}
.Footer {
    background-color: #1a1818;
}
.Footer .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}
.footer_friends {
    color: orange;
}
.footer_icons  {
    display: flex;
    justify-content: center;
}
.email {
    color: white;
}
svg{
    width: 20px;
    height: 20px;
    stroke: white;
    margin: 8px 20px;
}
svg:hover {
    background-color: orange;
}

.footer_email {
    display: flex;
    align-items: center;
}
  
  /* Стили для контейнера на маленьких экранах */
@media (max-width: 576px) {
    .Footer *{
        font-size: 12px;
        flex-wrap: wrap;
        }
    .footer_friends {
        display: none;
    }
    .footer_icons {
        display: none;
    }
  }

  /* Стили для контейнера на средних экранах */
  @media (min-width: 576px) and (max-width: 768px) {
    .Footer  *{
        font-size: 12px;
    }
    .footer_friends {
        text-align: center;
        width: 200px;
        font-size: 12px;
    }
    svg{
        width: 15px;
        height: 15px;
        margin: 8px 20px;
    }
  }
  
  /* Стили для контейнера на больших экранах */
  @media (min-width: 768px) and (max-width: 992px) {
    .Footer  *{
       max-width: 960px;
    }
    .footer_friends {
        text-align: center;
        width: 250px;
    }
    svg{
        width: 15px;
        height: 15px;
        margin: 8px 20px;
    }
  }