.nav__links {
  background-color: #f37805;
  width: 50vw;
  height: 50px;
  /* display: none; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav__links a {
  font-weight: 500;
  /* margin-left: 20px; */
  margin: auto;
  
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;

}
.div__for__link {
  border: 4px solid #fe8514;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f37805;
  z-index: 10;
  right: 0;
}
.nav__dropdown-parent {
  position: relative;
}
.nav__dropdown-overlay {
  position: fixed;
  width: 100vw;
  h
  top: 0;
  left: 0;
}
.nav__dropdown a {
  padding: 20px;
  /* border: 1px solid black; */
  border: 3px solid #fe8514;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  width: 30vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__burger {
  display: block;
}

@media (min-width: 768px) {
  .nav__burger {
    display: none;
  }
  .nav__links {
    /* display: block; */
  }  
}
@media (max-width: 768px) {
  .nav__burger {
    display: block;
  }
  .nav__links {
    display: none;
  }  
}